<mat-toolbar class="app-header" color="primary">
    <span>Schouwen Duiveland Trash app</span>
</mat-toolbar>

<app-place-selector></app-place-selector>

<div class="content">
    <div>
        <router-outlet></router-outlet>


        <p>let op deze applicatie houdt geen rekening met feestdagen. Kijk voor het originele schema van de gemeente
            <a href="https://www.schouwen-duiveland.nl/bestuur-en-organisatie/nieuws-en-actualiteit/2018/12/kalenders-afvalinzameling-2019">hier</a>
        </p>

    </div>

</div>